@font-face {
  font-family: "Shrik";
  src: url("../fonts/shrikhand-regular.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoL";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoR";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoM";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoB";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoT";
  src: url("../fonts/Roboto-Thin.ttf") format("truetype");
}
* {
  font-family: "RobotoR";
}

.page1_part1 {
  background-color: #F6F6F6;
  padding-bottom: 2.95em;
}

.partPosition {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.1em;
  background-color: #EAEAEA;
  padding: 0;
  margin: 0;
}
.partPosition h3 {
  font-size: 1em;
  margin-top: 1em;
  color: #353535;
}
.partPosition #icnPosition {
  margin-right: 1em;
}

.entete {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.entete h1 {
  margin-top: 1.5em;
  font-size: 1.5em;
  width: 70%;
  text-align: center;
  font-family: "RobotoM";
}
.entete p {
  width: 99%;
  margin-top: -0.2em;
  text-align: center;
  font-size: 1.15em;
  color: #353535;
  font-family: "RobotoL";
}

.button {
  height: 3.1em;
  font-size: 1.05em;
  margin: 0.5em 0 0.5em 0;
  padding: 0 1.3em 0.3em 1.3em;
  color: white;
  border-radius: 40px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: 0em #D0D0D0 solid;
  box-shadow: 0 0.4em 0.4em #D0D0D0;
  cursor: pointer;
}

.page1_part2 {
  margin: 2.8em 1.7em 3em 1.7em;
}
.page1_part2 h3 {
  font-size: 1.5em;
  font-family: "RobotoM";
  margin: 0 0 1.2em -0.2em;
}

.boxButtonSearch {
  margin: 0 0 1.5em 0.3em;
}

.btnPart2 {
  height: 4.8em;
  margin: 0 0em 0 0em;
  width: 100%;
  min-width: 21em;
  background-color: #F6F6F6;
  font-size: 1em;
  border: none;
  border-radius: 1.5em;
  box-shadow: 0 0.2em 0.8em #D0D0D0;
  cursor: pointer;
}

.icnOutBtnBox {
  background-color: #9356DC;
  max-height: 20px;
  padding: 3px 5px 3px 10px;
  border-radius: 50px;
  margin: 2px 0 5px -105px;
}

.icnOutBtn {
  width: 0.45em;
  color: white;
}

#icnBurgerBtn {
  color: #7E7E7E;
  padding: 0 1.2em 0 1.2em;
}

.icnBurgerBtn1 {
  width: 0.3em;
  height: auto;
  padding-right: 0.08em;
}

.icnBurgerBtn2 {
  width: 1.07em;
  height: auto;
}

.icnInBtn {
  color: #7E7E7E;
  padding: 0 1.3em 0 1.3em;
  width: 1em;
  height: auto;
}

.icnInBtn2 {
  color: #7E7E7E;
  padding: 0 1.3em 0 1.3em;
  width: 1.4em;
  height: auto;
}

.buttonText {
  font-weight: bold;
}

.page1_part3 {
  background-color: #F6F6F6;
  margin-top: 4.5em;
  padding-bottom: 3em;
}
.page1_part3 h3 {
  font-size: 1.45em;
  padding: 2.5em 0 0 1em;
  font-family: "RobotoM";
  color: black;
  font-weight: bold;
}

.boxCard {
  height: auto;
  margin: auto;
  width: calc(100% - 20px - 20px);
  margin-bottom: 1.2em;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  background-color: white;
  box-shadow: 6px 6px 4px #ededed;
  cursor: pointer;
}
.boxCard .imgCards {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  object-position: 30% 60%;
  width: 100%;
  height: 11em;
}
.boxCard .textPicture {
  position: absolute;
  font-size: 0.85em;
  font-weight: bold;
  color: #008563;
  padding: 0.5em 1em 0.5em 1em;
  background-color: #99E2D0;
  top: 5%;
  right: 4%;
}
.boxCard .boxCardText {
  height: 4.7em;
  width: 100%;
  justify-content: space-between;
}
.boxCard .boxCardText h2 {
  font-size: 1.1em;
  font-family: "RobotoM";
  color: black;
  margin: 0.6em 0 0 0.7em;
}
.boxCard .boxCardText p {
  font-size: 1.1em;
  margin: 0.1em 0 -0.5em 0.7em;
  color: black;
}
.boxCard .boxCardText .icnCards {
  font-size: 1.5em;
  width: calc(16.6666666667% - 10px - 10px);
  padding: 0.6em 0.2em 2.2em 0;
  margin-right: 0.2em;
  color: black;
}

.page-title:after {
  content: "";
  display: block;
  margin: 0 0 0 0;
  width: 2.5em;
  padding-top: 6px;
  border-bottom: 3px solid #99E2D0;
}

.imgHead {
  width: 100%;
  min-width: 350px;
  min-height: 15.8em;
  max-height: 20em;
  objectif-fit: cover;
}

.imgHead2 {
  width: 100%;
  overflow: hidden;
  max-height: 17em;
}

.mainMenus {
  background-color: #F6F6F6;
  position: relative;
  right: 0%;
  left: 0%;
  top: 33%;
  margin-top: -3.6em;
  padding: 0 1em 0 1em;
  padding-bottom: 3em;
  border-radius: 2.5em 2.5em 0 0;
  min-width: 20em;
}
.mainMenus h3 {
  font-size: 1em;
  font-family: "RobotoL";
}
.mainMenus .buttonCards {
  margin-top: 1.2em;
  margin-bottom: 0.2em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mainMenus .buttonCards .button {
  padding: 0 3em 0.3em 3em;
  margin: auto;
  cursor: pointer;
}

.titrePage {
  padding-top: 0.9em;
}
.titrePage h1 {
  font-family: "Shrik", sans-serif;
  font-size: 1.8em;
  padding-left: 0.2em;
  padding-right: 0;
  margin-right: 0;
  font-weight: 500;
}
.titrePage .logoTopCard {
  width: 1.6em;
  -webkit-text-stroke: 1px white;
  height: auto;
  position: absolute;
  right: 35px;
}

.cardsMenu {
  justify-content: space-between;
  height: auto;
  margin: auto;
  margin-bottom: 1.2em;
  padding-right: 0;
  width: 100%;
  min-width: 20em;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  background-color: white;
  box-shadow: 6px 6px 4px #ededed;
  cursor: pointer;
}
.cardsMenu p {
  padding: 0;
  margin: 0;
}
.cardsMenu .textCardM {
  width: calc(100% - 70px);
  margin-right: 70px;
}
.cardsMenu .textCardM .titleCardsM {
  font-size: 1.15em;
  font-family: "RobotoR";
  margin: 0;
  padding: 0.5em 0 0.15em 0.65em;
  color: black;
}
.cardsMenu .textCardM .descriptMenu {
  font-size: 15px;
  padding: 0 0 0.8em 0.65em;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cardsMenu .icnCardsM {
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 15px;
}
.cardsMenu .icnCardsM .cardsMenuTarifs {
  font-family: "RobotoM";
  padding-bottom: 0.75em;
  margin-right: 0.2em;
  color: black;
  position: absolute;
  right: 15px;
  bottom: 0px;
}

.box1, .box2, .box3 {
  padding-bottom: 0.5em;
}

/*# sourceMappingURL=main.css.map */
