@media all and (min-width: 768px) and (max-width: 1191px) {
  .page1_part3 {
    padding-bottom: 3em;
  }
  .page1_part3 .boxCards {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .page1_part3 .boxCards .boxCard {
    width: calc(50% - 20px - 20px);
    margin-bottom: 3em;
  }
}
@media all and (min-width: 1192px) {
  .page1_part3 {
    padding-bottom: 3em;
  }
  .page1_part3 .boxCards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 1500px;
  }
  .page1_part3 .boxCards .boxCard {
    width: calc(33.3333333333% - 20px - 20px);
    margin-bottom: 3em;
  }
}
@media all and (min-width: 1500px) {
  .page1_part3 .titleSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 2em;
    margin: auto;
    margin-top: 0;
    max-width: 1480px;
  }
}
@media all and (min-width: 768px) {
  main .imgHead, main .imgHead2 {
    height: 100%;
    max-height: 35em;
  }
  main .mainMenus .titrePage h1 {
    font-size: 2.5em;
  }
  main .mainMenus .titrePage .logoTopCard {
    font-size: 36px;
  }

  .page1_part2 .titleSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    max-width: 1480px;
  }
  .page1_part2 .box2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }
  .page1_part2 .box2 .boxButtonSearch {
    position: relative;
    margin: 2em;
  }
  .page1_part2 .box2 .boxButtonSearch .boxButtonSearch__search__btnPart2 {
    max-width: 22em;
    min-width: 18em;
  }
  .page1_part2 .box2 .boxButtonSearch .boxButtonSearch__search__btnPart2 .icnOutBtnBox {
    position: absolute;
    margin-left: 0;
    margin-right: 5em;
  }
  .page1_part2 .box2 .boxButtonSearch .boxButtonSearch__search__btnPart2 #icnBurgerBtn {
    margin-left: 1em;
    margin-right: 0.2em;
  }
  .page1_part2 .box2 .boxButtonSearch .boxButtonSearch__search__btnPart2 #icnBurgerBtn .icnBurgerBtn1 {
    margin-left: 0em;
  }

  .titrePage {
    width: calc(100% - 50px - 50px);
  }

  .boxCardsMenu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 3em;
    margin-right: 3em;
  }
  .boxCardsMenu .cardsMenu {
    min-width: 20em;
    max-width: 20em;
  }
  .boxCardsMenu .cardsMenu .titleCardsM {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  footer {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  footer .footer__box {
    width: 100%;
  }
  footer .footer__box h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  footer .footer__box ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  footer .footer__box ul li {
    margin: 1em 3em 1em 3em;
    padding: 0;
  }
}
@media all and (min-width: 800px) and (max-width: 1085px) {
  .cardsMenu {
    min-width: 20em;
    width: 100%;
    max-width: 25em;
  }
}

/*# sourceMappingURL=responsiveTabDesk.css.map */
