#header
    box-sizing: border-box
    width: 100%
    margin: auto
    position: relative
    box-shadow: 0 0.5em 0.1em #D0D0D0

.icnHeader
    width: 0em
.logo
    padding: 0 0 0.6em 7em
    width: 12rem