$color-primary: #9356DC
$color-secondary: #FF79DA
$color-tertiary: #99E2D0
$grey: #EAEAEA
$grey-light: #F6F6F6
$grey-dark: #353535
$grey-icn-btn-accueil: #7E7E7E
$grey-border-boxShadow: #D0D0D0
$purple-btn: #F5EDFF

$full-width: 100%

@mixin -flexRowCenter
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center

@font-face
  font-family: 'Shrik'
  src: url('../fonts/shrikhand-regular.ttf') format('truetype')
@font-face
  font-family: 'RobotoL'
  src: url('../fonts/Roboto-Light.ttf') format('truetype')
@font-face
  font-family: 'RobotoR'
  src: url('../fonts/Roboto-Regular.ttf') format('truetype')
@font-face
  font-family: 'RobotoM'
  src: url('../fonts/Roboto-Medium.ttf') format('truetype')
@font-face
  font-family: 'RobotoB'
  src: url('../fonts/Roboto-Bold.ttf') format('truetype')
@font-face
  font-family: 'RobotoT'
  src: url('../fonts/Roboto-Thin.ttf') format('truetype')

body
  font-family: 'RobotoR'
  min-width: 350px
  max-width: 1600px
  box-sizing: border-box
  margin: auto
  a
    text-decoration: none

//************* PART 1 ****************
.page1_part1
  background-color: $grey-light
  padding-bottom: 2.95em
  min-width: 350px

.partPosition
  @include -flexRowCenter
  width: $full-width
  height: 3.1em
  background-color: $grey
  padding: 0
  margin: 0
  h3
    font-size: 1em
    margin-top: 1em
    color: $grey-dark
  #icnPosition
    margin-right: 1em

.entete
  width: $full-width
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  > h1
    margin-top: 1.5em
    font-size: 1.5em
    width: 70%
    text-align: center
    font-family: "RobotoM"
  p
    width: 99%
    padding-left: 30px
    padding-right: 30px
    margin-top: -0.2em
    text-align: center
    font-size: 1.15em
    color: $grey-dark
    font-family: 'RobotoL'

.buttonCards
  width: $full-width
  position: relative
  @include -flexRowCenter
  margin: 0.5em 0 0.5em 0
  .button
    height: 3.1em
    font-size: 1.05em
    padding: 0 1.3em 0.3em 1.3em
    color: white
    border-radius: 40px
    background: linear-gradient(to bottom right, $color-secondary, $color-primary)
    border: none
    box-shadow: 0 0.4em 0.4em $grey-border-boxShadow
    cursor: pointer
    &:hover
      background: linear-gradient(to bottom right, lighten($color-secondary, 5%), lighten($color-primary, 5%))
      box-shadow: 0 0.4em 0.2em $grey-border-boxShadow
      // filter: brightness(110%)
      // box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3)
      // #BE8DE6#F19DE5
      // background: linear-gradient(to bottom right, #F19DE5, #BE8DE6)

//************* PART 2 ****************
.page1_part2
  margin: 2.8em 1.7em 3em 1.7em
  min-width: 20.5em
  h3
    font-size: 1.5em
    font-family: "RobotoM"
    margin: 0 0 1.2em -0.2em

// .box2
//   display: flex
//   flex-direction: column
//   justify-content: center
//   margin: auto

.boxButtonSearch
  margin: 0 0 1.5em 0
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  // margin: auto
  &__search
    position: relative
    &__btnPart2
      height: 4.8em
      margin: 0
      min-width: 20em
      max-width: 21em
      margin-right: 15px
      width: $full-width
      background-color: $grey-light
      font-size: 1em
      border: none
      border-radius: 1.5em
      box-shadow: 0 0.2em 0.8em $grey-border-boxShadow
      cursor: pointer
      .icnOutBtnBox
        background-color: $color-primary
        color: white
        // width: 1em
        max-height: 20px
        padding: 5px 8px 3px 8px
        border-radius: 50px
        // margin-right: 15px
        position: absolute
        // top:2px
        bottom: 1.6em
        left: -0.9em
      // .icnOutBtn
      //   width: 0em
      //   height: auto
        // color: white
      #icnBurgerBtn
        color: $grey-icn-btn-accueil
        padding: 0 1.2em 0 0.2em
        .icnBurgerBtn1
          width: 0.3em
          height: auto
          padding-right: 0.08em
        .icnBurgerBtn2
          width: 1.07em
          height: auto
      .icnInBtn
        color: $grey-icn-btn-accueil
        padding: 0 1.3em 0 1.3em
        width: 1em
        height: auto
      .icnInBtn2
        color: $grey-icn-btn-accueil
        padding: 0 1.3em 0 1.3em
        width: 1.4em
        height: auto
      .buttonText
        font-weight: bold
        padding-right: 4em
        color: black
      &:hover
        background-color: $purple-btn
        box-shadow: 0 0.4em 0.7em $grey-border-boxShadow
        .icnInBtn2, .icnInBtn, .icnBurgerBtn2, .icnBurgerBtn1
          color: $color-primary
          // lkj

//************* PART 3 ****************

.page1_part3
  background-color: $grey-light
  margin-top: 4.5em
  padding-bottom: 3em
  min-width: 350px
  .titleSection
    padding: 2.5em 0 0 1em
    h3
      font-size: 1.45em
      font-family: "RobotoM"
      color: black
      font-weight: bold

.boxCard
  height: auto
  margin: auto
  width: calc(100% * (1 / 1) - 20px - 20px)
  margin-bottom: 1.2em
  position: relative
  border-radius: 15px 15px 15px 15px
  background-color: white
  box-shadow: 6px 6px 4px #ededed
  cursor: pointer
  .imgCards
    border-radius: 15px 15px 0 0
    object-fit: cover
    object-position: 30% 60%
    width: $full-width
    height: 11em
  .textPicture
    position: absolute
    // width: 15%
    font-size: 0.85em
    font-weight: bold
    color: #008563
    padding: 0.5em 1em 0.5em 1em
    background-color: $color-tertiary
    top: 1em
    right: 1em
    // transform: translate(-50%, -50%)
  .boxCardText
    height: 4.7em
    width: $full-width
    justify-content: space-between
    h2
      font-size: 1.1em
      font-family: "RobotoM"
      color: black
      margin: 0.6em 0 0 0.7em
    p
      font-size: 1.1em
      margin: 0.1em 0 -0.5em 0.7em
      color: black
    .icnCards
      position: absolute
      top: 12.5rem
      right: 1.4em
      width: 2.1em
      .fa-heart
        display: block
        font-size: 26px
        font-weight: 100
        color: black
        &:hover
          background: linear-gradient(to top right,$color-secondary 10%, $color-primary 70%)
          // background: -webkit-linear-gradient(to top right,$color-secondary 10%, $color-primary 70%)
          // background: -moz-linear-gradient(to top right,$color-secondary 10%, $color-primary 70%)
          background-clip: text
          // -moz-background-clip: text
          -webkit-background-clip: text
          color: transparent
          // -webkit-text-fill-color: transparent
          // -moz-text-fill-color: transparent
          font-weight: 900
          transition: all 1s ease-in-out

.page-title:after
  content: ""
  display: block
  margin: 0
  width: 2.5em
  padding-top: 6px
  border-bottom: 3px solid $color-tertiary

// PAGES CARDS
main
  .imgHead
    width: $full-width
    min-width: 350px
    min-height: 15.8em
    max-height: 20em
    object-fit: cover
    overflow: hidden
    // object-position: 0px 0px
  .imgHead2
    width: $full-width
    // clip::rect(60px auto auto 60px) 
    min-width: 350px
    object-fit: cover
    overflow: hidden
    // max-height: 17em
    height: 17em
    // object-position: 60% 30% 
    // min-height: 14em
    // position: absolute
    // margin:1em

.mainMenus
  background-color: $grey-light
  position: relative
  right: 0%
  left: 0%
  top: 33%
  margin-top: -3.6em
  padding: 0 1em 0 1em
  padding-bottom: 3em
  border-radius: 2.5em 2.5em 0 0
  min-width: 20em
  > .titrePage
    margin: auto
    margin-top: 1.3em
    padding-top: 0.9em
    > h1
      font-family: 'Shrik', sans-serif
      font-size: 1.8em
      padding-left: 0.2em
      padding-right: 0
      margin-right: 0
      font-weight: 500
    .logoTopCard
      display: block
      font-size: 26px
      font-weight: 100
      color: black
      height: auto
      position: relative
      right: 35px
      cursor: pointer
      &:hover
        background: linear-gradient(to top right,$color-secondary 10%, $color-primary 70%)
        // background: -webkit-linear-gradient(to top right,$color-secondary 10%, $color-primary 70%)
        // background: -moz-linear-gradient(to top right,$color-secondary 10%, $color-primary 70%)
        background-clip: text
        // -moz-background-clip: text
        -webkit-background-clip: text
        color: transparent
        // -webkit-text-fill-color: transparent
        // -moz-text-fill-color: transparent
        font-weight: 900
        transition: all 1s ease-in-out
  h3
    font-size: 1em
    font-family: 'RobotoL'
    // border-bottom: solid 2px 
  .buttonCards
    margin-top: 1.2em
    margin-bottom: 0.2em
    > .button
      padding: 0 3em 0.3em 3em
      margin: auto
      cursor: pointer

.cardsMenu
  justify-content: space-between
  height: auto
  margin: auto
  margin-bottom: 1.2em
  padding-right: 0
  width: $full-width
  min-width: 20em
  position: relative
  overflow: hidden
  border-radius: 15px 15px 15px 15px
  background-color: white
  box-shadow: 6px 6px 4px #ededed
  animation: slideMenu 2s ease-in-out forwards
  transition-duration: 600ms
  transform: translateX(0px)
  cursor: pointer
  p
    padding: 0
    margin: 0
  .textCardM
    width: calc(100% - 70px)
    margin-right: 70px
    transition-duration: 600ms
    transform: translateX(0px)
    > .titleCardsM
      font-size: 1.15em
      font-family: "RobotoR"
      margin: 0
      padding: 0.5em 0 0.15em 0.65em
      color: black
    .descriptMenu
      font-size: 15px
      padding: 0 0 0.8em 0.65em
      color: black
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
  .icnCardsM
    flex-direction: column
    justify-content: flex-end
    // flex-basis: 8%
    // margin-right: 15px
    > .cardsMenuTarifs
      font-family: "RobotoM"
      padding-bottom: 0.75em
      // margin-right: 0.2em
      color: black
      position: absolute
      right: 15px
      // display: flex
      // align-items: flex-end
      bottom: 0px
      transition-duration: 600ms
      transform: translateX(0px)
  .menu_check
    background-color: $color-tertiary
    width: 60px
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    top: 0
    right: 0
    height: 100%
    transition-duration: 600ms
    transform: translateX(60px)
    &_icone
      color: #FFF
      font-size: x-large
      transition-duration: 600ms
      transform: rotate(360deg)
  // déclenchement du check et rotation de l'icone associée au survol*/
  &:hover .menu_check
    transform: translateX(0px)
    // margin-left: 0
  &:hover .menu_check_icone
    transform: rotate(0deg)

  // Redimensionnement de menu plat pour rogner au déclenchement de la coche*/
  &:hover .textCardM
    width: 65%
    .titleCardsM, .descriptMenu
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
  &:hover .cardsMenuTarifs
    // right: 0
    transform: translateX(-60px)

.box1, .box2, .box3
  padding-bottom: 0.5em

// progressive charge cards menu
@keyframes slideMenu
  0%
    opacity: 0
    transform: translateY(-40px)
  100%
    opacity: 1
    transform: translateY(0)
