$color-primary:#9356DC
$color-secondary:#FF79DA
$color-tertiary:#99E2D0
$grey:#EAEAEA
$grey-light:#F6F6F6

@font-face 
  font-family: 'Shrink'
  src: url('../fonts/Shrinkhand-Regular.otf') format('truetype')
@font-face 
  font-family: 'RobotoL'
  src: url('../fonts/Roboto-Light.ttf') format('truetype')
@font-face 
  font-family: 'RobotoR'
  src: url('../fonts/Roboto-Regular.ttf') format('truetype')
@font-face 
  font-family: 'RobotoM'
  src: url('../fonts/Roboto-Medium.ttf') format('truetype')
@font-face 
  font-family: 'RobotoB'
  src: url('../fonts/Roboto-Bold.ttf') format('truetype')

.pg1section1
  background-color: $grey-light
  padding-bottom: 3em
  
.partPosition
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  width: 100%
  background-color: $grey
  h3
    font-size: 0.9em
    padding-left: 1em
    font-family: "RobotoR"
    color: #353535

.entete
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  h1
    margin-top: 1.5em
    font-size: 1.4em
    width: 60%
    text-align: center
    font-family: "RobotoM"
  p 
    width: 79%
    margin-top: -0.3em
    text-align: center
    font-size:1em
    font-family: "RobotoL"

.button
  height: 3em
  font-size: 0.9em
  margin: 1em 0 1em 0
  padding: 0 1.3em 0 1.3em
  color: white
  font-weight: semi-bold
  border-radius: 40px
  background: linear-gradient(to bottom right, #FF79DA, #9356DC)
  border: 0em #D0D0D0 solid
  box-shadow: 0 0.3em 0.3em #D0D0D0

.pg1section2
  margin: 3em 1em 3em 1em