.menu1
    animation: slideMenu 1000ms ease-out forwards
.menu2
    animation: slideMenu2 1150ms ease-out forwards
.menu3
    animation: slideMenu3 1300ms ease-out forwards
.menu3-1
    animation: slideMenu31 1450ms ease-out forwards
.menu4
    animation: slideMenu 1000ms ease-out forwards
.menu5
    animation: slideMenu2 1150ms ease-out forwards
.menu6
    animation: slideMenu3 1300ms ease-out forwards
.menu7
    animation: slideMenu 1000ms ease-out forwards
.menu8
    animation: slideMenu2 1150ms ease-out forwards
.menu9
    animation: slideMenu3 1300ms ease-out forwards
