// progressive charge cards menu
@keyframes slideMenu
    0%
        opacity: 0
        transform: translateY(-40px)
    100%
        opacity: 1
        transform: translateY(0)

// loading spinner
@keyframes custom-loading
    0%
        transform: rotate(0deg)

    100%
        transform: rotate(360deg)

@keyframes apparition
    from
        opacity: 100%

    to
        z-index: 0
        opacity: 0%
